@model GlobalizeValidation.Models.PersonViewModel

@using (@Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "formEdit", @role = "form", @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(f => f.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-sm"})
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Deposit, new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Deposit, new { @class = "form-control input-sm"})
            @Html.ValidationMessageFor(m => m.Deposit)
        </div>
    </div>
    
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
}
@section ScriptOnReady {
    Home.init();
    Home.render();
}